@model smelite_app.ViewModels.Admin.AdminProfileViewModel

<div class="profile-card master-profile-card">
    <div class="profile-header">
        <div class="profile-avatar">
            <img src="@Model.ProfileImageUrl" alt="@Model.FirstName" class="profile-img" />
        </div>
        <div>
            <h2 class="profile-title">@Model.FirstName @Model.LastName</h2>
            <div class="profile-email">@Model.Email</div>
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-info-title">Лична информация</div>
        <div class="profile-info-desc">Администратор</div>
    </div>

    <div class="profile-btns">
        <a asp-action="EditProfile" class="btn-main-outline profile-btn">Редактирай профил</a>
        <a asp-action="Users" class="btn-main-outline profile-btn">Потребители</a>
        <a asp-action="Apprenticeships" class="btn-main-outline profile-btn">Чиракувания</a>
        <a asp-action="Orders" class="btn-main-outline profile-btn">Поръчки</a>
        <a asp-action="Subscribers" class="btn-main-outline profile-btn">Имейл абонати</a>
        <a asp-controller="BlogAdmin" asp-action="Index" class="btn-main-outline profile-btn">Блог постове</a>
        <a asp-controller="CraftTypeAdmin" asp-action="Index" class="btn-main-outline profile-btn">Craft Types</a>
    </div>
</div>
