@model IEnumerable<smelite_app.ViewModels.Blog.BlogPostListItemViewModel>

<h2 class="craft-title" style="text-align:center;margin-bottom:34px;">Blog Posts</h2>
<p>
    <a asp-action="Create" class="btn-main">Create New</a>
</p>
<table class="crafts-table crafts-table-wrap">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Published</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.AuthorName</td>
                <td>@item.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>@item.IsPublished</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-main-outline btn-xs">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-main-outline btn-xs">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-main-outline btn-xs">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
