@model smelite_app.ViewModels.Master.CraftDetailsViewModel

<h2>@Model.Name</h2>
<img src="@Model.PhotoUrl" alt="@Model.Name" class="img-fluid" />
<p>@Model.PersonalInfo</p>
<p>Crafts: @string.Join(", ", Model.Crafts)</p>
