@model smelite_app.ViewModels.Apprentice.ApprenticeProfileViewModel

<div class="profile-card apprentice-profile-card">
    <div class="profile-header">
        <div class="profile-avatar">
            <img src="@Model.ProfileImageUrl" alt="@Model.FirstName" class="profile-img" />
        </div>
        <div>
            <h2 class="profile-title">@Model.FirstName @Model.LastName</h2>
            <div class="profile-email">@Model.Email</div>
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-info-title">Лична информация</div>
        <div class="profile-info-desc">@Model.PersonalInformation</div>
    </div>
    <div class="profile-btns">
        <a asp-action="EditProfile" class="btn-main-outline profile-btn">Редактирай профил</a>
        <a asp-action="Sessions" class="btn-main-outline profile-btn">Сесии</a>
    </div>
</div>